<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
 Required only when requesting background location access on
       Android 10 (API level 29) and higher.
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/paz"
        android:label="FORTUNE APP"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.FortuneApplication"
        tools:replace="android:theme"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".DATA1"
            android:exported="false" />
        <activity
            android:name=".ConnecttionSetup"
            android:exported="false" />
        <activity
            android:name=".Connections"
            android:exported="false" />
        <activity
            android:name=".UpdateDelete"
            android:exported="false" />
        <activity
            android:name=".Profileman"
            android:exported="false" />
        <activity
            android:name=".MoreInfoData"
            android:exported="false" />
        <activity
            android:name=".TemporaryData"
            android:exported="false" />
        <activity
            android:name=".Notes"
            android:exported="false" />
        <activity
            android:name=".ItemPricelvlChoiceDisplay"
            android:exported="false" />
        <activity
            android:name=".ChangePass"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".NewPriceLEVEl"
            android:exported="false" />
        <activity
            android:name=".SyncPriceleveLines"
            android:exported="false" />
        <activity
            android:name=".SyncPricelvl"
            android:exported="false" />
        <activity
            android:name=".SyncDatas"
            android:exported="false" />
        <activity
            android:name=".SyncPterms"
            android:exported="false" />
        <activity
            android:name=".SyncUnitMeasures"
            android:exported="false" />
        <activity
            android:name=".InputQuantity"
            android:exported="false" />
        <activity
            android:name=".SyncLocation"
            android:exported="false" />
        <activity
            android:name=".SyncSalesRep"
            android:exported="false" />
        <activity
            android:name=".Locations"
            android:exported="false" />
        <activity
            android:name=".SalesRep"
            android:exported="false" />
        <activity
            android:name=".SOItemDisplay"
            android:exported="false" />
        <activity
            android:name=".SOdisplayCustomer"
            android:exported="false" />
        <activity
            android:name=".DisplayCustomer"
            android:exported="false" />
        <activity
            android:name=".SyncCustomer"
            android:exported="false" />
        <activity
            android:name=".SyncCoverage"
            android:exported="false" />
        <activity
            android:name=".ItemListDisplay"
            android:exported="false" />
        <activity
            android:name=".SyncItemActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayItem"
            android:exported="false" />
        <activity
            android:name=".SOActivity"
            android:exported="false" />
        <activity
            android:name=".SampleItemActitvity"
            android:exported="false" />
        <activity
            android:name=".EnterQuantity"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".SelectItemActivity"
            android:exported="false" />
        <activity
            android:name=".CustoDisplay"
            android:exported="false" />
        <activity
            android:name=".NewCustomer"
            android:exported="false" />
        <activity
            android:name=".SelectActivity"
            android:exported="false"
            android:label="@string/title_activity_select" />
        <activity
            android:name=".print_form"
            android:exported="false" />
        <activity
            android:name=".SinkItem"
            android:exported="false" />
        <activity
            android:name=".FAShome"
            android:exported="false" />
        <activity
            android:name=".ItemValuationDetail"
            android:exported="false" />
        <activity
            android:name=".OpenSalesOrder"
            android:exported="false" />
        <activity
            android:name=".CustomerSalesHistory"
            android:exported="false" />
        <activity
            android:name=".CustomerSalesByItemHistory"
            android:exported="false" />
        <activity
            android:name=".SFAItemDisplay"
            android:exported="false" />
        <activity
            android:name=".SFAActivity"
            android:exported="false" />
        <activity
            android:name=".SFAdisplayCustomer"
            android:exported="false" />
        <activity
            android:name=".SFAInputQuantity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyLocation"
            android:foregroundServiceType="location"></service>
    </application>

</manifest>